<!DOCTYPE html>
<html>
    <head>
        <title> Silas Bluemix </title>
        <!-- Use Stylesheet -->     <link rel='stylesheet' href='/stylesheets/style.css'>
                                    <link rel='stylesheet' href='/stylesheets/main.css'>
                                    <link rel='stylesheet' href='/stylesheets/textcss.css'>
                                    <link rel='stylesheet' href='/stylesheets/logedIncss.css'>
        <!-- Use Socket.IO -->      <script 
                                        type="text/javascript" 
                                        src="/socket.io/socket.io.js">
                                    </script>
        <!-- Use JQuery -->         <script 
                                        type="text/javascript" 
                                        src="//code.jquery.com/jquery-1.11.0.min.js">
                                    </script>
    </head>
    <body>	        
        <div id="mainContainerlogedIn">
            <div id="snow">
            
            <h1>Congratulations, your mail was accepted<br> Welcome to the gallery</h1>
            <table align="center">
            <tr>
                <td >
                    <div >  
                        <img src="/images/idea.png" alt="LightBulbIdea" style="width:304px;height:300px">             
                    </div>
                </td>
            
                <td >
                    <div>
                        <img src="/images/graphic-bluemix.png" alt="LightBulbIdea" >  
                    </div>
                <td>
            <tr>
            <tr>
                <td id="headfield" colspan="2">
                    <a href="/" id="a"><h1>Back to Startpage</h1></a>
                </td>
            </tr>    
            </table>
            </div>
        </div>

        <!-- Use MyScript -->       <script 
                                        type="text/javascript"
                                        src='/scripts/script.js'>
                                    </script>
    </body>
</html>

