<!DOCTYPE html>
<html>
    <head>
        <title> Silas Bluemix </title>
        <!-- Use Stylesheet -->     <link rel='stylesheet' href='/stylesheets/style.css'>
                                    <link rel='stylesheet' href='/stylesheets/main.css'>
                                    <link rel='stylesheet' href='/stylesheets/textcss.css'>
        <!-- Use Socket.IO -->      <script 
                                        type="text/javascript" 
                                        src="/socket.io/socket.io.js">
                                    </script>
        <!-- Use JQuery -->         <script 
                                        type="text/javascript" 
                                        src="//code.jquery.com/jquery-1.11.0.min.js">
                                    </script>
    </head>
    <body>	        
        <div id="mainContainer">
            <h1>Congratulations, your are registered<br> You will be accepted or delayed soon</h1>
            <table align="center">
            <tr>
                <td id="headfield" >
                    <a href="/" id="a"><h1>Back to Startpage</h1></a>
                </td>
            </tr>
            </table>
        </div>

        <!-- Use MyScript -->       <script 
                                        type="text/javascript"
                                        src='/scripts/script.js'>
                                    </script>
    </body>
</html>

